In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('Cleaned dataset/chess.pkl')
df.head()

,turns,increment_code,white_rating,black_rating,opening,a1,a2,a3,a4,a5,...,rxh1,rxh2,rxh3,rxh4,rxh5,rxh6,rxh7,rxh8,victory_status,winner
0,13,15+2,1500,1191,248,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
1,16,5+10,1322,1261,71,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
2,61,5+10,1496,1500,171,0,0,1,2,1,...,0,0,0,0,0,0,1,1,1,2
3,61,20+0,1439,1454,241,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
4,95,30+3,1523,1469,192,0,0,1,1,0,...,0,0,0,1,0,0,0,0,1,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Columns: 2695 entries, turns to winner
dtypes: int64(2694), object(1)
memory usage: 412.4+ MB

In [4]:
df.describe()

,turns,white_rating,black_rating,opening,a1,a2,a3,a4,a5,a6,...,rxh1,rxh2,rxh3,rxh4,rxh5,rxh6,rxh7,rxh8,victory_status,winner
count,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,...,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000,20058.000000
mean,60.465999,1596.631868,1588.831987,140.244890,0.013910,0.023681,0.317629,0.299232,0.296789,0.370476,...,0.011267,0.021238,0.018546,0.021388,0.020441,0.022535,0.026523,0.011317,2.150065,1.044571
std,33.570585,291.253376,291.036126,85.356819,0.117544,0.152058,0.491204,0.502971,0.499100,0.512495,...,0.124212,0.156772,0.146608,0.155635,0.150056,0.160367,0.176651,0.117398,1.014535,0.975038
min,1.000000,784.000000,789.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37.000000,1398.000000,1391.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,55.000000,1567.000000,1562.000000,152.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
75%,79.000000,1793.000000,1784.000000,201.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000
max,349.000000,2700.000000,2723.000000,364.000000,2.000000,1.000000,2.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,2.000000

In [5]:
df.isna().sum()

turns             0
increment_code    0
white_rating      0
black_rating      0
opening           0
                 ..
rxh6              0
rxh7              0
rxh8              0
victory_status    0
winner            0
Length: 2695, dtype: int64